.inline-block {
    display: inline-block;
    vertical-align: top;
}

div.logo {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73;
    padding: 1%; 
 }

 ul {
    margin-left: auto;
 }

 .logo {
    text-align: center;
 }

 section.herolmg {
    height: 600px;
    padding: 25px;
 }

 .content {
    width: 500px;
    margin: 0 auto;
 }

 footer {
    background-color:lightgreen;
    padding: 10px;
    
 }

ul.ul {
   display: inline-block;
    vertical-align: top;
    padding-left: 50%;

 }